<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Epam Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">



	</head>
	<body ng-controller="ViewController">

	<div id="page">

<!-- Electronics -->
		<header ng-if="category=='Electronics'" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url(images/theme/elecA.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>{{category}}</h1>
								<!-- <h4>Get our vast range of selected products right below.</h4> -->
								<!-- <h2></h2> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

<!-- Books -->
		<header ng-if="category=='Books'" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url(images/theme/bookA.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>{{category}}</h1>
								<!-- <h4>Get our vast range of selected products right below.</h4> -->
								<!-- <h2></h2> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

<!-- Clothing -->
		<header ng-if="category=='Clothing'" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url(images/theme/clothM.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
									<h1>{{category}}</h1>
								<!-- <h1>{{category}}</h1> -->
								<!-- <h4>Get our vast range of selected products right below.</h4> -->
								<!-- <h2></h2> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

<!-- Home and Decor -->
		<header ng-if="category=='Home & Decor'" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
		style="background-image:url(images/theme/homeB.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>{{category}}</h1>
								<!-- <h4>Get our vast range of selected products right below.</h4> -->
								<!-- <h2></h2> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span></span>
					<!-- <h2>{{category}}</h2>
					<p>Get our vast range of selected products right below.</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box" ng-repeat="product in products | filter : category | filter : searchText">
					<div class="product">
						<div class="product-grid" style="background-image:url({{product.img}});">
							<div class="inner">
								<p>
									<a ng-click="addToCart(product)" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="#/productDetail/{{product._id}}" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="#/productDetail/{{product._id}}">{{product.title}}</a></h3>
							<span class="price">Rs {{product.price}}</span>
						</div>
					</div>
				</div>
		<!--		<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-2.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Pavilion Speaker</a></h3>
							<span class="price">$600</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-3.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Ligomancer</a></h3>
							<span class="price">$780</span>
						</div>
					</div>
				</div>   -->
			</div>
	<!--		<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-4.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Alato Cabinet</a></h3>
							<span class="price">$800</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-5.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Earing Wireless</a></h3>
							<span class="price">$100</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-6.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Sculptural Coffee Table</a></h3>
							<span class="price">$960</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-7.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">The WW Chair</a></h3>
							<span class="price">$540</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-8.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Himitsu Money Box</a></h3>
							<span class="price">$55</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-9.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Ariane Prin</a></h3>
							<span class="price">$99</span>
						</div>
					</div>
				</div>
			</div>  -->
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Newsletter</h2>
					<p>Just stay tune for our latest Product. Now you can subscribe</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block btn-lg"
							data-toggle="modal" data-target="#featureAdd">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
  <div class="modal fade" id="featureAdd" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">This featuer will be added soon, stay tuned.</h4></center>
        </div>
        <div class="modal-body">
          <p><img class="modalImage" src="images/comingsoon.jpg" /></p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>



	</body>
</html>
